.searchBar-wrap{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.26) ;
    padding: 1.5rem 1rem;
}

.searchBar-icon{
    color: rgb(255, 253, 253);
    background-color: rgba(0,0,0,.26);
    padding: 1px 6px;
    border-radius: 3px;
    margin: 10px;
}

.searchBar-wrap input{
    font-size: 1.25rem;
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.26) ;

}